html {
  background-color: #F47FBA;
  font-size: 10px; /* px значит 'пиксели': базовый шрифт будет 10 пикселей в высоту  */
  font-family: 'Give You Glory', cursive;
}
body {
  width: 600px;
  margin: 0 auto;
  background-color: #9B0C54;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}
h1 {
  margin: 0;
  padding: 20px 0;
  color: #9B0C0C;
  text-shadow: 3px 3px 1px black;
}
img {
width: 400px;
  display: block;
  margin: 0 auto;
}
p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}